node_modules/
.next/
out/
dist/
.vercel/
.env
.env.*.local
# Block Windows device filenames anywhere (root and subfolders)
NUL
nul
CON
con
PRN
prn
AUX
aux
COM[1-9]
com[1-9]
LPT[1-9]
lpt[1-9]
**/NUL
**/nul
**/CON
**/con
**/PRN
**/prn
**/AUX
**/aux
**/COM[1-9]
**/com[1-9]
**/LPT[1-9]
**/lpt[1-9]

# Ignore InternLink and Institutions modules everywhere
**/internlink*/
**/institutions*/
